body {
  margin: 0;
  //font-family: sans-serif;
  font-family: 'Merriweather', serif;
}

#app {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: background 2s ease;
}

#app .form {
  width: 600px;
  margin: 0 auto;
  max-width: calc(100vw - 60px);
  box-sizing: border-box;
  margin-top: 60px;
}

input[type="text"], input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-bottom: 3px solid white;
  background: none;
  margin: 2px;
  font-family: 'Merriweather', serif;
}

input[type="range"] {
    font-size: inherit;
    -webkit-appearance: none;
    appearance: none;
    width: 13em;
    max-width: calc(100vw - 60px - 3.2em);
    height: 30px;
    background: linear-gradient( 90deg, black, red );
    outline: none;
    opacity: 1.0;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 50px;
    padding:2px;
}
input[type="range"]::-webkit-slider-thumb {
    font-size: inherit;
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.3);
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
}


.rgb {
    font-size: 20px;
}
.whitebalance {
    font-size: 20px;
}

.whitebalance input[type="number"] ,
.rgb input[type="number"] {
  width: 2.4em;
  text-align: center;
  font-size: inherit;
  height: 24px;
  vertical-align: top;
}

input {
    vertical-align: center;
}

h2 {
  margin-top: 50px;
}

h1, h2, input {
  transition: color .5s ease;
}

.pig input[type="text"] {
    width: calc(100% - 5.5em);
    font-size: inherit;
    height: 24px;
    vertical-align: top;
}
.pig input[type="number"] {
    width: 2.4em;
    text-align: center;
    font-size: inherit;
    height: 24px;
    vertical-align: top;
}

#addpig {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 3px solid black;
    border-radius: 50%;
    margin: 20px auto;
    cursor: pointer;
}

button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 20px;
    border: 2px solid black;
    padding: 8px 18px;
    border-radius: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}
